<article{% if not item.is_public %} class="draft"{% endif %}>
    <header>
        <h2>{% if not item.is_public %}Draft: {% endif %}<a href="{% url 'posts:post_detail' post_pk=item.pk slug=item.slug %}">{{ item.title }}</a></h2>
    </header>

    <div class="content">
        {{ item.content|linebreaks }}
    </div>

    <footer>
        <div class="metadata">
            <span class="date">Posted on:
                <a href="">
                    {% if item.published_date %}
                        {{ item.published_date|date:"D, d M Y" }}
                    {% else %}
                        {{ item.created_date|date:"D, d M Y" }}
                    {% endif %}
                </a>
            </span>
            <a href="{% url 'posts:post_detail' post_pk=item.pk slug=item.slug %}">Link</a>
        </div>

        {% if request.user.is_authenticated %}
            <div class="edit-options">
                <a href="{% url 'posts:post_edit' post_pk=item.pk %}" class="btn">Edit</a>
                <a href="{% url 'posts:post_remove' post_pk=item.pk %}" class="btn">Remove</a>
                {% if item.is_public %}
                    <a href="{% url 'posts:post_toggle_publish' post_pk=item.pk %}" class="btn">Unpublish</a>
                {% else %}
                    <a href="{% url 'posts:post_toggle_publish' post_pk=item.pk %}" class="btn btn-primary">Publish!</a>
                {% endif %}
            </div>
        {% endif %}

        <div class="clearfix"></div>
    </footer>
</article>
