{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    {% for item in post_list %}
        {% include 'posts/_post.html' with item=item %}
    {% endfor %}

    {% if post_list.has_previous or post_list.has_next %}
        <div class="pagination">
            {% if post_list.has_previous %}
                <a href="?page={{ post_list.previous_page_number }}">previous</a>
            {% endif %}

            {% for page in post_list.paginator.page_range %}
                {% if page == post_list.number %}
                    <b>{{ page }}</b>
                {% else %}
                    <a href="?page={{ page }}">{{ page }}</a>
                {% endif %}
            {% endfor %}

            {% if post_list.has_next %}
                <a href="?page={{ post_list.next_page_number }}">next</a>
            {% endif %}
        </div>
    {% endif %}

    <script type="text/javascript">
        var disqus_shortname = 'potatosaladblog'; // required: replace example with your forum shortname
        (function () {
            var s = document.createElement('script'); s.async = true;
            s.type = 'text/javascript';
            s.src = '//' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
    </script>

{% endblock %}
