{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    <article>
        <header>
            <h2><a href="">Title</a></h2>
        </header>
        <p>Nulla vitae elit libero, a pharetra augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere consectetur est at lobortis. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec id elit non mi porta gravida at eget metus. Sed posuere consectetur est at lobortis.</p>
        <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec sed odio dui. Curabitur blandit tempus porttitor.</p>
        <p>Aenean lacinia bibendum nulla sed consectetur. Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas faucibus mollis interdum. Cras mattis consectetur purus sit amet fermentum. Nullam quis risus eget urna mollis ornare vel eu leo. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
        <footer>
            <div class="metadata">
                <span class="date">Posted on: <a href="">21 July 2013</a></span>
                <a href="">Link</a>
            </div>

            <div class="edit-options">
                <a href="" class="btn">Edit</a>
                <a href="" class="btn">Remove</a>
                <a href="" class="btn">Unpublish</a>
            </div>
            <div class="clearfix"></div>
        </footer>
    </article>

    <article>
        <header>
            <h2><a href="">Title</a></h2>
        </header>
        <p>Nulla vitae elit libero, a pharetra augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere consectetur est at lobortis. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec id elit non mi porta gravida at eget metus. Sed posuere consectetur est at lobortis.</p>
        <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec sed odio dui. Curabitur blandit tempus porttitor.</p>
        <p>Aenean lacinia bibendum nulla sed consectetur. Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas faucibus mollis interdum. Cras mattis consectetur purus sit amet fermentum. Nullam quis risus eget urna mollis ornare vel eu leo. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
        <footer>
            <div class="metadata">
                <span class="date">Posted on: <a href="">21 July 2013</a></span>
                <a href="">Link</a>
            </div>

            <div class="edit-options">
                <a href="" class="btn">Edit</a>
                <a href="" class="btn">Remove</a>
                <a href="" class="btn">Unpublish</a>
            </div>
            <div class="clearfix"></div>
        </footer>
    </article>

    <article>
        <header>
            <h2><a href="">Title</a></h2>
        </header>
        <p>Nulla vitae elit libero, a pharetra augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere consectetur est at lobortis. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec id elit non mi porta gravida at eget metus. Sed posuere consectetur est at lobortis.</p>
        <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec sed odio dui. Curabitur blandit tempus porttitor.</p>
        <p>Aenean lacinia bibendum nulla sed consectetur. Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas faucibus mollis interdum. Cras mattis consectetur purus sit amet fermentum. Nullam quis risus eget urna mollis ornare vel eu leo. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
        <footer>
            <div class="metadata">
                <span class="date">Posted on: <a href="">21 July 2013</a></span>
                <a href="">Link</a>
            </div>

            <div class="edit-options">
                <a href="" class="btn">Edit</a>
                <a href="" class="btn">Remove</a>
                <a href="" class="btn">Unpublish</a>
            </div>
            <div class="clearfix"></div>
        </footer>
    </article>

    <div class="pagination">
        <a href="">prev</a>
        <a href="">1</a>
        <b>2</b>
        <a href="3">3</a>
        <a href="4">4</a>
        <a href="">next</a>
    </div>

{% endblock %}
