{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    {% for item in post_list %}
        <article>
            <header>
                <h2><a href="">{{ item.title }}</a></h2>
            </header>

            {{ item.content|linebreaks }}

            <footer>
                <div class="metadata">
                    <span class="date">Posted on:
                        <a href="">
                            {% if item.published_date %}
                                {{ item.published_date|date:"D, d M Y" }}
                            {% else %}
                                {{ item.created_date|date:"D, d M Y" }}
                            {% endif %}
                        </a>
                    </span>
                    <a href="">Link</a>
                </div>

                {% if request.user.is_authenticated %}
                    <div class="edit-options">
                        <a href="" class="btn">Edit</a>
                        <a href="" class="btn">Remove</a>
                        <a href="" class="btn">Unpublish</a>
                    </div>
                {% endif %}

                <div class="clearfix"></div>
            </footer>
        </article>
    {% endfor %}

    {% if post_list.has_previous or post_list.has_next %}
        <div class="pagination">
            {% if post_list.has_previous %}
                <a href="?page={{ post_list.previous_page_number }}">previous</a>
            {% endif %}

            {% for page in post_list.paginator.page_range %}
                {% if page == post_list.number %}
                    <b>{{ page }}</b>
                {% else %}
                    <a href="?page={{ page }}">{{ page }}</a>
                {% endif %}
            {% endfor %}

            {% if post_list.has_next %}
                <a href="?page={{ post_list.next_page_number }}">next</a>
            {% endif %}
        </div>
    {% endif %}

{% endblock %}
